<h1>Editing investment</h1>

<div class="error-msg"> 
		<% if @investment.errors.any? %> 
		<ul> 
			<% @investment.errors.full_messages.each do |msg| %> 
			<li><%= msg %></li> 
 			<% end %> 
 		</ul> 
		<% end %> 
</div>

<%= render 'form' %>

<%= link_to 'Show', @investment %> |
<%= link_to 'Back', investments_path %>
