<center>
<div class="content_box">
<h1>Investment List</h1>
<table>
  <thead>
    <tr>
      <th>Member&nbsp;&nbsp;&nbsp;&nbsp;</th>
      <th>Stock&nbsp;&nbsp;&nbsp;&nbsp;</th>
      <th>Share Change&nbsp;&nbsp;&nbsp;&nbsp;</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @investments.each do |investment| %>
      <tr>
        <td><%= investment.member.name %>&nbsp;&nbsp;&nbsp;&nbsp;</td>
        <td><%= investment.stock.name %>&nbsp;&nbsp;&nbsp;&nbsp;</td>
        <td><%= investment.share_change %>&nbsp;&nbsp;&nbsp;&nbsp;</td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Investment', new_investment_path %>
</div>
</div>
</center>