<center>
<h1>Editing stock</h1>

<div class="error-msg"> 
		<% if @stock.errors.any? %> 
		<ul> 
			<% @stock.errors.full_messages.each do |msg| %> 
			<li><%= msg %></li> 
 			<% end %> 
 		</ul> 
		<% end %> 
</div>

<%= render 'form' %>

<%= link_to 'Show', @stock %> |
<%= link_to 'Back', stocks_path %>
</center>