<div class= "content">
	<div id="content-box">
		<h1 id="title">Welcome to the VY Trading Simulation</h1>
		<ul id="bar">
			<div class="button1">
				<a href="/members/sign_up">
					<div class="button1-text">Sign Up</div>
				</a>
			</div>
			<div class="button1">
				<%= link_to "Enter Stock", new_stock_path, class: "button1-text" %>
			</div>
			<div class="button1">
				<%= link_to "Create Investment", new_investment_path, class: "button1-text" %>
			</div>	
		</ul>
	</div>
</div>
<center>
	<ul id="ticker01">
		<% @stocks.each do |stock| %>
			<li><span><%= stock.ticker %></span><a href="#"> <%= stock.price %></a></li>
		<% end %>
	</ul>
</center>	

<script type="text/javascript">
$(function(){
	$("ul#ticker01").liScroll();
});
</script>