<div class= "content">
	<div class="content-box">
		<h1 id="title">Basic Trading Simulation</h1>
		<ul id="bar">
			<div class="button1">
				<a href="/members/sign_up"> Sign Up</a>
			</div>
			<div class="button1">
				<%= link_to "Enter Stock", new_stock_path %>
			</div>	
			<div class="button1">
				<%= link_to "Create Investment", new_investment_path %>
			</div>	
			<div class="button1">
				<%= link_to "New Posts", new_post_path %>
			</div>	
		</ul>
	</div>
</div>