<div class= "content">
	<div class="cotent-box">
		<h1 id="title">Basic Trading Simulation for Investment Clubs</h1>
		<ul id="bar">
			<div class="button1">
				<%= link_to "New Members", new_member_path %>
			</div>
			<div class="button1">
				<%= link_to "New Stock", new_stock_path %>
			</div>	
			<div class="button1">
				<%= link_to "New Investments", new_investment_path %>
			</div>	
			<div class="button1">
				<%= link_to "New Posts", new_post_path %>
			</div>	
		</ul>	
	</div>
</div>