<center>
<h1>Leaderboard</h1>
<% prev_member = @members[1] %>

<% @members.each do |member| %>
  <div class="dash-review">
  	<% if (prev_member.value != member.value) %>
  		<%  @i = @i + 1 %> 
  	<% end %>	
  	<% prev_member = member %>
  <h2><%= @i %>. <%= link_to Member.where(id: member.id).take!.name, member_path(member.id)%> value: <%= member.value %></h2>
  </div>
<%end%>
</center>