<center>
<h1>Editing post</h1>

<div class="error-msg"> 
		<% if @post.errors.any? %> 
		<ul> 
			<% @post.errors.full_messages.each do |msg| %> 
			<li><%= msg %></li> 
 			<% end %> 
 		</ul> 
		<% end %> 
</div>

<%= render 'form' %>

<%= link_to 'Show', @post %> |
<%= link_to 'Back', posts_path %>
</center>