/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *= require 'scaffolds.css.scss'
 *= require_self
 *= require_tree .
 */

body{
	/* overrided in scaffolds */
}

.nav{
	position: fixed;
	width: 100%;
	top: 0px;
	left: 0px;
	height: 43px;
	background: #f2f2f2;
	border-bottom: 1px solid #e4e4e4;
}

.nav-link{
	color: #404040;
	text-decoration: none;
	float: right;
	margin-right: 2%;
	vertical-align: middle;
	padding-top: 12px;
	padding-bottom: 12px;
	font-family: "Open Sans", arial, helvetica, sans-serif;
	color: #404040;
	font-size: 16px;
}
.nav-link:visited {
	color: #000;
}
.nav-link:hover {
	color: #1C49FF;
}

.sign_in{
	color: #f2f2f2 !important;
	padding: 5px;
	margin-top: 5px;
	padding-left: 12px;
	padding-right: 12px;
	border: 1px solid #4285f4;
	font-weight: bold;
	outline: none;
	background: -o-linear-gradient(top,#4387fd,#4683ea);
	background: -moz-linear-gradient(top,#4387fd,#4683ea);
	background: -webkit-linear-gradient(top,#4387fd,#4683ea);
	background: -ms-linear-gradient(top,#4387fd,#4683ea);
	border-radius: 4px;
}
.sign_in:hover{
	border: 1px solid #0051DE !important;
}

.nav li{
	display: inline;
}

.alert{
	position: relative;
	width: 100%;
	margin-right: auto;
	margin-left: auto;
}

.notice{
	position: relative;
	width: 100%;
	margin-right: auto;
	margin-left: auto;
}

.sub{
	position: fixed;
	bottom: 0px;
	width: 100%;
	height: 43px;
	background: #f2f2f2;
	border-top: 1px solid #e4e4e4;
	font-family: Arial, sans-serif;
	font-size: 16px;
	left: 5px;
}

.sub-link{
	padding: 40px;
	padding-left: 6px;
	padding-top: 14px;
	padding-bottom: 14px;
	color: #404040;
	text-decoration: none;
	font-family: "Open Sans", arial, helvetica, sans-serif;
	float: left;
	font-size: 16px;
}
.sub-link:visited {
	color: #000;
}
.sub-link:hover {
	color: #1C49FF;
}

#left-links{
	float: left;
	margin-left: 2% 
}

#right-links{
	float: right;
	margin-right: 2%;
}

a {
  font-family: "Open Sans", arial, helvetica, sans-serif;
  color: #0051DE;
  &:visited {
    color: #5884D1;
  }
  &:hover {
    color: #1C49FF;
  }
}

ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

li{
	display: inline;
}

form{
	display: inline;
}