// Place all the styles related to the Investments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1{
	top-margin: 50px;
}

.form{
	top: 50px;
}

.hide{
	display: none;
}

.content-box{
	position: relative;
	margin-left: auto;
	margin-right: auto;
	height: 684px;
	bottom: 44px;
	overflow-y: auto;
}