// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.content_box{
	position: relative;
	margin-left: auto;
	margin-right: auto;
	height: 684px;
	bottom: 44px;
	overflow-y: auto;
}