// Place all the styles related to the Stocks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.hide{
	display: none;
}

.dash-review{
	position: relative;
	margin-top: -10px;
	width: 240px;
	height: 194px;
	overflow-y: auto;
}

.dash-review2{
	position: relative;
	margin-top: -10px;
	width: 240px;
	height: 276px;
	overflow-y: auto;
}

.float{
	position: relative;
	float: left;
	width: 33%;
	margin-top: -25px;
}