// Place all the styles related to the Stocks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.hide{
	display: none;
}

.dash-review{
	position: relative;
	margin-left: auto;
	margin-right: auto;
	height: 90px;
	bottom: 0px;
	overflow-y: auto;
}

.dash-review2{
	position: relative;
	margin-left: auto;
	margin-right: auto;
	height: 90px;
	bottom: 0px;
	overflow-y: auto;
}