<!DOCTYPE html>
<html>
<head>
<<<<<<< HEAD
  <title>HW1</title>
=======
  <title>Homework1</title>
>>>>>>> 58b03006a0b9234d29345f34992ad00fcc7db347
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
