<!DOCTYPE html>
<html>
<head>
  <title>Homework1</title>
  <style type="text/css">
  	a:link {text-decoration: none;}
  	a:hover {text-decoration: underline;}
  	a:active {text-decoration: underline; border-bottom:10px;}
  	a.sign_in:hover {text-decoration: none;}
  	a.sign_in:active {text-decoration: none;}

  </style>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
